body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h2 {
    color: #333;
}

#upload-form {
    margin-top: 20px;
}

#output-container {
    margin-top: 30px;
}

#output-image {
    max-width: 500px;
    margin-top: 10px;
}
